.experiencias {
    padding-top: 7.5rem;

    &__header {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            color: $dark-purple;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    .h2 {
        color: $purple;
    }

    &__icon {
        @include purple-shadow-img;
        margin-right: 1rem;
        width: 3rem;
        height: auto;
        @media (min-width: map-get($grid-breakpoints, md)) {
            margin-right: 2rem;
            width: 3.75rem;

        }
         
    }

    &__item{
        padding: 2rem;

        @media (min-width: map-get($grid-breakpoints, md)) {
            padding: 3.25rem;
        }
        

        &-category {
            margin-bottom: 1.5rem;

            @media (max-width: map-get($grid-breakpoints, lg)) {
                margin-bottom: 1rem;
            }
        }

        &-icon {
            margin-right:1.25rem;

            @media (max-width: map-get($grid-breakpoints, lg)) {
                margin-right: 0.75rem;
                width: 2.25rem;  
            }
        }

        &-text {
            margin-top: 2.5rem;
            @media (min-width: map-get($grid-breakpoints, lg)) {
                margin-top: 0;
                padding-left: 2.5rem;
            }
            
        }

        &-img {
            min-height: 18.75rem;
            max-height: 100%;
            border-width: 5px;
            background-position: center;
            background-size: cover;
            

            &-gastronomia {
                background-image: url("../../img/gastronomia_image.png");
            }

            &-bienestar {
                background-image: url("../../img/bienestar_image.png");
            }

            &-entretenimiento {
                background-image: url("../../img/entretenimiento_image.png");
            }

            &-aventura {
                background-image: url("../../img/aventura_image.png");
            }

            // @media (max-width: map-get($grid-breakpoints, lg)) {
            //     max-width: 60%;
            //     margin-bottom: 2.5rem;
            
            // }

            // @media (max-width: map-get($grid-breakpoints, md)) {
            //     max-width: 80%;
            
            // }

            @media (min-width: map-get($grid-breakpoints, lg)) {
                padding-right: 2.5rem;
            }
        }
    }
}

.carousel {

    &-control-prev-icon {
        @media (max-width: map-get($grid-breakpoints, lg)) {
            display: none;
        }

        background-image: url("../../img/arrow-left.svg");
    }

    &-control-next-icon {

        @media (max-width: map-get($grid-breakpoints, lg)) {
            display: none;
        }

        background-image: url("../../img/arrow-right.svg");
    }
}

.carousel-indicators [data-bs-target] {
    background-color: $purple;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 4px;

}

.carousel-indicators {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 3rem;

    @media (max-width: map-get($grid-breakpoints, sm)) {
        margin-top: 2rem;
    }
}