.legales {

    margin-top: 7.5rem;

    &__title {
        margin-bottom: 3rem;
        color: $purple;
    }

    .h5 {
        color: $dark-purple;
        line-height: 120%;
        font-size: 1.125rem;
        @media (max-width: map-get($grid-breakpoints, sm)) {
            font-size: 0.875rem;
        }
    }

    &__icon {
        @include purple-shadow-img;
        margin-right: 1rem;
        width: 3rem;
        height: auto;
        
        @media (min-width: map-get($grid-breakpoints, md)) {
            margin-right: 2rem;
            width: 3.75rem;

        }
    }
}

.accordion {
    &-button, &-button:focus {
        border-radius: 15px !important;
        padding: 0.5rem;
        padding-right:2rem;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1);

        @media (max-width: map-get($grid-breakpoints, md)) {
            padding-top:1rem;
            padding-bottom:1rem;
            padding-right:1rem;

        }
                     
        @include whiteButton;
        }

        color: $dark-purple;
        
        &-button:not(.collapsed) {
            @include purpleButton;
        }
        
      &-letter {
            @include hoverGoldenButton;
            display: flex;
            align-items: center;
            justify-content: center;
            @include golden-gradient;
            @include golden-shadow;
            border-radius: 15px;
            border: solid 2px $gold;
            @include manrope-bold;
            min-width: 3.75rem;
            min-height: 3.75rem;

            color: white;
            font-size: 1.25rem;
            margin-bottom: 0;
            @include manrope-bold();
            margin-right: 2rem;

            @media (max-width: map-get($grid-breakpoints, sm)) {
                margin-right: 1rem;
                border-radius: 8px;
                min-width: 2.625rem;
                min-height: 2.625rem;
                font-size: 1.25rem;
            }
        }

        &-body {
            color: $dark-purple;
            padding: 1rem;
            margin-bottom: 1rem;

            p {
                margin-bottom: 1em;
            }
        }
}

.legal-title {
    @include manrope-bold();
}