.goldenButton  {
    @include golden-gradient;
    @include golden-shadow;
    border-radius: 15px;
    border: solid 2px $gold;
    color: $brown !important;
    @include manrope-bold;
    font-size: 1.125rem;

    @media (max-width: map-get($grid-breakpoints, sm)) {
        font-size: 1rem;
    }

    a
    {
        color: $brown;
        &::before, &::after, &:hover, &:active, &:focus {
            color: $brown !important;
        }
    }   
}

@mixin goldenButton {
    @include golden-gradient;
    @include golden-shadow;
    border-radius: 15px;
    border: solid 2px $gold;
    color: $brown !important;
    @include manrope-bold;
    font-size: 1.125rem;

    @media (max-width: map-get($grid-breakpoints, sm)) {
        font-size: 1rem;
    }

    a
    {
        color: $brown;
        &::before, &::after, &:hover, &:active, &:focus {
            color: $brown !important;
        }
    }   
}


.hoverGoldenButton {
    &:hover{
        filter: brightness(1.1);
    }
}

@mixin hoverGoldenButton {
    &:hover{
        filter: brightness(1.1);
    }
}