.whiteButton {
    background-color: $white;
    @include purple-shadow;
    border-radius: 15px;
    border: solid 2px $light-purple;
    color: $dark-purple !important;
    @include manrope-bold;
}

@mixin whiteButton {
    background-color: $white;
    @include purple-shadow;
    border-radius: 15px;
    border: solid 2px $light-purple;
}

